<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Password change</title>
    </head>
    <body>

        <h1>Change password here</h1>

        <form action="#" th:action="@{/password}" method="POST">
            <p><label for="password">Enter new password</label>: <input type="text" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>
